@use "../../style/index.scss" as *;
@use "../../style/vars/_vars.scss" as *;

.cart_wrapper{
  padding-top: clamp(30px, 7.8vw ,120px);
}

.cart_block{
  @include flex_items_pos();
  @include flex_style(column);
  min-width: 300px;
  border-radius: 18px;
  background-color: $cart_bg_color;
}
.cart {
  width: 90%;
  min-height: 380px;
  display: flex;
  flex-direction: column;

  #order_btn{
    width: 100%;
    background-color: $cart_btn_color;
    @include text_style($f_color:$third_text_color);
    text-align: center;
    border-radius: 12px;
    border: none;
    min-height: 40px;
  }
}

.cart_name{
  @include text_style(24px,600);
}

.items_counter{
  height: 60px;
  width: 90%;
  @include flex_style();
  @include flex_items_pos($j_content:space-between);
}

.total_items{
  width: 41px;
  height: 20px;
  text-align: center;
  background-color: $field_color;
  border: none;
  border-radius: 6px;
}

.cart_items {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final_price{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 24px;
  @include text_style();
}

.delivery{
  margin-top: 8px;
  display: none;
  align-items: center;
  gap:5px;
  @include text_style(12px);
}

.item_img{
  max-height: 52px;
  max-width: 64px;
  img{
    height: 100%;
    width: 100%;
  }
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 84px;
  border-bottom: 1px solid $field_color;
  border-top: 1px solid $field_color;
}

.item_block{
  display: flex;
  gap:6px;
}
.item_info{
  @include text_style(12px);
  display: flex;
  flex-direction: column;
  gap:6px;

  #weight{
    color: $sub_text_color;
  }
}

.buttons{
  @include text_style();
  background-color: $field_color;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:18px;
  min-height: 40px;
  min-width: 84px;

  button{
    background-color: transparent;
    border: none;
  }
}

.hidden{
  display: none;
}

.visible{
  display: flex;
}
.cart_btn{
  display: none;
  max-width: clamp(145px, 13vw + 5vw,300px);
  min-height: 48px;
  @include flex_items_pos($j_content: space-between);
  background-color: $cart_bg_color;
}
@media (max-width: 768px) {
  .cart_btn{
    @include flex_style();
  }
  .cart_block {
    max-width: 300px;
    position: absolute;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.16);
  }

}