@use "../style/index.scss" as *;
@use "../style/vars/_vars.scss" as *;

.header_nav {
  max-width: 1231px;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  gap: 0.55vw;

  &::-webkit-scrollbar {
    display: none;
  }
}

.main {
  @include flex_style();
  gap: 30px;
  margin-bottom: 100px;
}

.main_content{
  padding-top: 50px;

  h2{
    margin-bottom: 24px;
    @include text_style(2.5rem, 600);
  }
}

.footer{
  background-color: $footer_bg_color;
  min-height: 244px;
  @include flex_style();
  @include flex_items_pos();
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}

