@use "../../style/index.scss" as *;
@use "../../style/vars/_vars.scss" as *;

.header_wrapper {
  background-image: url("../../assets/header_assets/circle_bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: initial;
  margin-bottom: clamp(24px, 2vw + 5px, 33px);
}

.header_content {
  padding-top: 24px;
  gap:24px;
  @include flex_style($f_direction: column);
  @include flex_items_pos();
}

.header_img {
  max-width: clamp(227px, 22.5vw,326px);

  img {
    width: 100%;
    height: 100%;
  }
}

.header_logo{
  max-height: 29px;
  min-width: 150px;
  img{
    height: 100%;
    width: 100%;
  }
}

.header_items {
  @include flex_style();
  gap: clamp(16px, 2vw - 4px, 24px);
  @include flex_items_pos();
  flex-wrap: wrap-reverse;
  margin-bottom: clamp(30px, 4vw + 5px,63px);
}

.header_text {
  @include flex_style(column);

  gap: clamp(16px, 4vw - 4px, 52px);

  h1 {
    @include text_style(3.1rem, 800, $header_main_text_color);

    .orange {
      color: $header_sub_text_color;
    }
  }

  .delivery_text {
    @include text_style(1rem, $f_color: $header_main_text_color);
  }
}

@media (max-width:768px) {
  .header_text  {
    h1{
    text-align: center;
    font-size: clamp(3rem, 1rem + 7vw, 5rem);
  }
    .delivery_text{
      text-align: center;
      font-size: clamp(1rem, 1rem + 3vw, 2rem);
    }
  }

  .header_img {
    min-width: clamp(227px, 50vw, 500px);
  }
}


