*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #F9F9F9;
}
$main_font:'Nunito';
$main_text_color: #000;
$sub_text_color: #B1B1B1;
$third_text_color:#fff;
$field_color: #F2F2F3;
$cart_bg_color:#fff;
$cart_btn_color:#FF7020;


@mixin text_style($f_size:16px, $f_weight:400, $f_color:$main_text_color){
  font-family: $main_font;
  font-size: $f_size;
  font-weight: $f_weight;
  color:$f_color;
}

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: url("../assets/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 600;
  src: url("../assets/fonts/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 800;
  src: url("../assets/fonts/Nunito-ExtraBold.ttf") format("truetype");
}

.container{
  width: 89.5%;
  margin: 0 auto;
}